<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="fragments :: page_head('Users - Shopme Admin')" />

	<body>

	<div th:replace="navigation :: menu"></div>
			<!-- Link above table -->
			<div>
				<h1>Manage Users</h1>
				<a th:href="@{/users/new}">Create New User</a>
			</div>
			
			<!-- Message -->
			<div th:if="${message != null}" class="alert alert-success text-center">
				[[${message}]]
			</div>
						
			<!-- Users Table -->
			<div>
				<table class="table table-bordered table-stripped table-hover table-responsive-xl">				
					<thead class="table-dark"> 	<!-- class="thead-dark"  is nor working -->
						<tr>
							<th>User ID</th>
							<th>Photos</th>
							<th>Email</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Roles</th>
							<th>Enabled</th>							
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="user : ${listUsers}"> <!-- listUsers comes from modelattribute in UserController -->
							<td>[[${user.id}]]</td>
							<td>[[${user.photos}]]</td>
							<td>[[${user.email}]]</td>
							<td>[[${user.firstName}]]</td>
							<td>[[${user.lastName}]]</td>
							<td>[[${user.roles}]]</td>							
							<td>[[${user.enabled}]]</td>
							<td>Edit &nbsp; Delete</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<!-- Footer -->
		<div th:replace="fragments :: footer"></div>
		</div>	
	</body>
</html>